:root {
    --color-purple: #E5D4E8;
    --color-light-purple: #F6EAF8;
    --color-black: #000000;
    --color-dark-purple: #9C5CA7;
}

body {
    font-family: 'Inter', serif;
}

.input {
    width: 100%;
    height: 80px;
    background-color: var(--color-purple);
    align-content: center;
    justify-content: center;
    margin: 10px;
}

.input_box {
    height: 100%;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 100%;
    height: 80px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    background-color: var(--color-light-purple);
    border: none;
}


.link_text {
    align-self: end;
    color: var(--color-purple);
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.main_box{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin:20px;
}

.main_app_bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_main_box{
    width:100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.cat_grid{
    width:70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.cat_grid_progress_bar{
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50%;
}
.cat_card_progress_bar{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.filter_box{
    width:30%;
    height: fit-content;
    background-color: var(--color-purple);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.search_input{
    width: 80%;
    height: 70px;
    background-color: var(--color-purple);
    align-content: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
}
.filter_check_box{
    width:20px;
    height: 20px;

}
.filter_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.autocomplete{
    padding: 10px;

}
.autocomplete_text .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-dark-purple);
}
.autocomplete_text .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-dark-purple);
}

.autocomplete_text .MuiInputLabel-root.Mui-focused{
    color: var(--color-dark-purple);
}

.cat_card_box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cat_card_appbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cat_card_data_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:25px;
}
.cat_card_data_column{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.chart{
  width: 100%;
}
.comment_box{
    width: 100%;
    min-height:150px;
    background-color: var(--color-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment_text_filed{
    width: 90%;
    height: 70px;
    background-color: white;
    align-content: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;

}
.comment_bubble{
    width:80%;
    height:70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.comment_bubble_column{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.comment_bubble_author_text{
    display: flex;
    flex-direction: row;
}
.comment_bubble_likes{
    display: flex;
    flex-direction: row;
}
.comment_bubble_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}
img{
    object-fit: contain;

}
