.input_text {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    margin-left: 27px;
}
.big_text {
    font-size: 48px;
    font-weight: bold;
    font-family: sans-serif;
}
.small_text {
    font-size: 24px;
    font-weight: normal;
    font-family: sans-serif;
}
.small_bold_text{
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}
.medium_text {
    font-size: 40px;
    font-weight: 400;
    font-family: sans-serif;
}
.filter_text{
    font-size: 16px;
    font-weight: normal;
    font-family: sans-serif;
    margin-left:3px;
    margin-right: 3px;
}
.text_overflow{
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}