:root{
    --color-purple:#E5D4E8;
    --color-light-purple:#F6EAF8;
    --color-black:#000000;
}
.input{

    width: 540px;
    height: 80px;
    background-color: var(--color-purple) ;
    align-content: center;
    justify-content: center;

}
.input_text{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: red;
    margin-left: 27px;
}

.input_box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.big_text{
    font-size: 48px;
    font-weight: bold;
    font-family: sans-serif;
}